
.mini-container{
    margin-top: 10px;
    margin-left: 10px;
}


.left-container{
    display: flex;
    width: 600px;
    height: 400px;
}

.item-detail{
    width: 1000px   ;
    display: flex;
    align-self: center;
    justify-content: space-around;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.detail{
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 100%;
    width: 250px;
}

.detail-rigth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 250px;
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

