.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(175, 175, 175);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }  

  ul > li {
    display: inline-block;
    margin-right: 10px;
}

.contenedor-logo img{
  height: 70px;
  width: 70px;
}