.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }  

  ul > li {
    display: inline-block;
    margin-right: 10px;
}

.contenedor-logo img{
  height: 70px;
  width: 70px;
}

.cart-shop-icon-container img{
  height: 30px;
  width: 30px;
}

.cart-shop-icon-container{
  margin-right: 50px;
}